* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin: 2rem;
  background-color: #EDCDBB;
}

.contents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  overflow: hidden;
  box-shadow: 0 2px 20px black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: tranform 200ms ease-in;
  text-align: center;
  background-color: #abc4c9;
}

.card-img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-title {
  padding: 1rem;
}

.card :hover {
  transform: scale(1.02);
}

.Heading {
  margin-bottom: 3rem;
}

.search-navbar {
  margin: auto;
  width: 60%;
  border: 5px solid #EDCDBB;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.card-info {
  overflow: hidden;
  box-shadow: 0 2px 20px black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: tranform 200ms ease-in;
  text-align: center;
  background-color: #abc4c9;
  height: 600px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.img-info {
  object-fit: cover;
  width: 100%;
  height: 45%;
  margin: 0 auto;
}

.card-body-info {
  text-align: left;
  font-size: 12px;
  position: absolute;
  top: 45%;
  left: 10%;
  width: 100%;
}

.ingredients {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
}

.check-box {
  margin-right: 10px;
  background-color: green;
}

.navbar > * {
  padding: 0;
  background-color:#E3B7A0;
}

.bg-light {
  padding: 0;
}

.btn {
  background-color: rgb(202, 219, 177) ;
}

.Heading {
  background-color: rgb(255, 217, 0);
  padding : 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(27, 21, 5);
}

.card-lower {
  width: 100%;
  height: 20%;
  background-color: rgb(42, 168, 168);
}